/*----Reset----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body,
h1,
h2 {
  font-size: 10px;
}

/*----Header----*/
header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e1e1e1;
  z-index: 9999;
}
.gnbWrap {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  background: #243c84;
  transition: 0.2s;
}
.leftMenuWrap .siteMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.siteMenu li {
  width: auto;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #243c84;
}
/* .siteMenu li::after {
  content: "";
  width: 0.1rem;
  height: 1rem;
  background: #fff;
  margin-left: 2rem;
} */
.siteMenu li a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}
.siteMenu li.on {
  background: #fff;
}
.siteMenu li.on a {
  color: #243c84;
}
.rightMenuWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.rightMenuWrap .memberMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.memberMenu li {
  width: auto;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.memberMenu li a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}
.snsMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.snsMenu li {
  border: 2px solid #fff;
  border-radius: 2rem;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.snsMenu li a {
  color: #fff;
  font-size: 1.2rem;
}
.searchWrap {
  display: flex;
  flex-direction: row;
  width: 15rem;
  height: 3rem;
  margin: 0 3rem;
}
.searchWrap input {
  width: 12rem;
  border: none;
}
.searchWrap label {
  width: 3rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchWrap label i {
  font-size: 1.6rem;
  color: #243c84;
  background: #fff;
  cursor: pointer;
}
.headerNavWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  background: #fff;
}
.logoWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navWrap {
  width: 100%;
  padding-top: 3rem;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav li {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav .navName {
  margin-right: 6.5rem;
  font-size: 1.6rem;
  color: #000;
  position: relative;
}
.nav .navName::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  background: #000;
  width: 0;
  height: 0.3rem;
  transform: translateX(-50%);
  transition: 0.1s;
}
.nav > li:hover .navName::before {
  width: 100%;
}
.nav .subNav {
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.2rem;
  overflow: hidden;
  transition: all 0.3s;
}
.navWrap:hover .subNav {
  height: 17.5rem;
}
.nav .subNav a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #848484;
}
.nav .subNav a:hover {
  font-weight: bold;
  color: #000;
}
/*Header Acyive Article*/
header.active .headerNavWrap {
  background: #fff;
}
header.active .gnbWrap {
  height: 0;
  overflow: hidden;
}

/*----Section----*/
section {
  margin-top: 17rem;
  width: 100%;
}

/*----MainSlide----*/
.mainSlide {
  width: 100%;
  height: 62rem;
}
.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
}
.slideItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  transition: left 0.15s;
}
.slideItem a {
  width: 100%;
  height: 100%;
}
.slideItem img {
  width: 100%;
  height: 100%;
}
.slideButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 16px);
  width: 8rem;
  height: 8rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

.slidePrevButton {
  left: 10px;
}
.slideNextButton {
  right: 10px;
}

/*----Pagination----*/
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slidePagination {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slidePagination > li {
  color: #fff;
  cursor: pointer;
  font-size: 4rem;
}
.slidePagination > li.active {
  color: #243c84;
}

.slideItemDuplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 30rem;
  flex-shrink: 0;
  transition: left 0.15s;
}

/*----MainBeanist----*/
.mainBeanist {
  width: 100%;
  padding: 11.2rem 0 8rem;
  background: url(https://ediya.com/images/main/main_beanist_bg.gif) #fce1a6
    center no-repeat;
  background-size: cover;
}
.mainBeanist h2 {
  font-size: 4.2rem;
  line-height: 1.7;
  text-align: center;
  font-weight: 100;
  color: #3c3c3c;
}
.mainBeanist h2 em {
  display: inline-block;
  font-weight: 900;
  color: #90470c;
  font-style: normal;
}
.mainBeanist h2::after {
  content: "";
  display: block;
  width: 10rem;
  height: 0.1rem;
  margin: 5.1rem auto 0;
  background: #3c3c3c;
}
.mainBeanist h3 {
  margin: 5.3rem 0 6rem;
  font-size: 2.6rem;
  line-height: 2.2rem;
  text-align: center;
  font-weight: 100;
  color: #3c3c3c;
}
.mainBeanist h3 em {
  font-weight: 500;
  font-style: normal;
}

/*----DreamFactory----*/
.dreamFactory {
  width: 100%;
  background: url(https://ediya.com/images/main/dream_factory_bg.gif) repeat-y;
  background-size: 100% auto;
  overflow: hidden;
  word-break: keep-all;
}
.dreamFactory .factoryContent {
  margin-bottom: 5rem;
  max-width: 118rem;
  margin: 0 auto;
}
.factoryContent h2 {
  padding-left: 3rem;
  padding-top: 9rem;
  line-height: 6rem;
  text-align: left;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
}
.factoryContent h2 em {
  display: block;
  width: 103.6rem;
  height: 8.7rem;
  text-indent: -9999px;
  background: url(https://ediya.com/images/main/dream_factory_txt.png) no-repeat;
  background-size: 100% auto;
  font-size: 4.2rem;
}
.factoryContent p {
  padding-left: 3rem;
  margin-top: 2rem;
  text-align: left;
  font-size: 1.7rem;
  color: #fff;
  line-height: 2rem;
}
.factoryContent p span {
  display: block;
}
.factoryBtn {
  padding-left: 3rem;
  text-align: left;
  width: auto;
  margin: 3.6rem auto;
  position: relative;
  z-index: 20;
}
.factoryBtn a {
  display: inline-block;
  border: 1px solid #fff;
  width: 18.8rem;
  height: 4.2rem;
  line-height: 4.2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
  margin: 0 0.3rem 0 0.4rem;
  transition: all 0.3s;
}
.factoryBtn a:hover {
  background: #fff;
  color: #243c84;
}
.factoryImg {
  margin-top: -29.5rem;
}
.factoryImg img {
  min-width: 103.6rem;
  margin-right: -16.2rem;
  float: right;
  height: auto;
}

/*----Menu Box----*/
.menuBox {
  width: 100%;
  height: 50rem;
  padding-bottom: 0;
  background: url(https://ediya.com/images/main/block02_bg.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.menuBox h2 {
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-size: 4.2rem;
  line-height: 1.4rem;
  z-index: 20;
  padding-top: 11.2rem;
}
.menuBox h2 em {
  font-weight: 900;
  font-style: normal;
}
.menuBox h2::after {
  display: block;
  position: relative;
  content: "";
  width: 10rem;
  height: 1px;
  background: #fff;
  margin: auto;
  margin-top: 5rem;
}
.menuBox h3 {
  position: relative;
  text-align: center;
  font-weight: 100;
  font-size: 2.6rem;
  margin-top: 5.3rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  color: #fff;
  z-index: 20;
}
.menuBoxBtn {
  text-align: center;
  width: auto;
  margin-top: 5rem;
  position: relative;
  z-index: 20;
}
.menuBoxBtn a {
  display: inline-block;
  border: 1px solid #fff;
  width: 18.8rem;
  height: 4.2rem;
  line-height: 4.2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
  transition: all 0.3s;
}
.menuBoxBtn a:hover {
  background: #fff;
  color: #243c84;
}

/*----Menu Box----*/
.businessBox {
  width: 100%;
  display: table;
  background: url(https://ediya.com/images/main/company_bg.jpg) no-repeat center
    center/cover;
  padding-bottom: 5.4rem;
}
.businessBox .businessBoxWrap {
  margin-bottom: 0;
  max-width: 118rem;
  margin: 0 auto;
  padding: 0 1%;
}
.businessText {
  float: right;
}
.businessBoxWrap h2 {
  font-size: 4.4rem;
  font-weight: 100;
  text-align: left;
  padding-top: 8.7rem;
  line-height: 6rem;
  color: #fff;
}
.businessBoxWrap p {
  font-size: 1.7rem;
  margin: 5.5rem 0 0 0;
  text-align: left;
  color: #fff;
  line-height: 2.3rem;
}
.businessBoxBtn {
  text-align: center;
  width: auto;
  margin-top: 5rem;
  position: relative;
  z-index: 20;
}
.businessBoxBtn a {
  display: inline-block;
  border: 1px solid #fff;
  width: 18rem;
  height: 4.2rem;
  line-height: 4.2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
  transition: all 0.3s;
}
.businessBoxBtn a:hover {
  background: #fff;
  color: #243c84;
}

/*----Main Bottom Box----*/
.mainBottom {
  width: 100%;
  max-width: 118rem;
  margin: auto;
  margin-top: 11rem;
}
.mainBottom:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 56rem;
  background: #efefef;
  margin-top: -28rem;
  left: 0;
  z-index: -99;
}
.franchiseWrap,
.storeWrap {
  position: relative;
  float: left;
  width: 27.96%;
  height: 33rem;
  margin-right: 0.84%;
  padding: 4.4rem 3.5rem 0 3.5rem;
  background: url(https://ediya.com/images/main/main_franchise_bg.jpg) no-repeat
    left;
  background-size: cover;
}
.franchiseWrap h2,
.storeWrap h2 {
  font-size: 2.2rem;
  font-weight: 60rem;
  color: #fff;
  line-height: 1.25em;
}
.franchiseWrap h2::after,
.storeWrap h2::after {
  display: block;
  content: "";
  width: 4.2rem;
  height: 1px;
  background: #fff;
  margin-top: 2.3rem;
}
.storeWrap {
  background: url(https://ediya.com/images/main/main_store_bg.jpg) no-repeat
    right top #233e83;
}
.storeWrap p {
  display: block;
  margin-top: 2.7rem;
  font-size: 1.7rem;
  line-height: 1.4em;
  color: #fff;
}
.storeBtn {
  margin-top: 3.5rem;
  width: 100%;
  max-width: 32rem;
  height: 4.4rem;
  border: 3px solid #fff;
  background: #1c3269;
  padding-left: 2rem;
  display: flex;
}
.storeBtn input {
  width: 85%;
  border: none;
  background: #1c3269;
  font-size: 1.4rem;
  font-weight: 900;
}
.storeBtn input::placeholder {
  color: #fff;
}
.storeBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.storeBtn a i {
  color: #fff;
  font-size: 2rem;
}
.noticeWrap {
  position: relative;
  float: left;
  width: 42.37%;
  height: 33rem;
}
.noticeWrap .newsWrap {
  width: 96%;
  margin: 0.8rem 0 0 4%;
}
.newsWrap h2 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #202023;
}
.newsWrap > a {
  float: right;
  margin-top: -1.7rem;
  font-size: 1.3rem;
  line-height: 1.7em;
  color: #202023;
}
.newsList {
  display: table;
  width: 100%;
  margin-top: 2.1rem;
}
.newsList li {
  margin-bottom: 0.4rem;
}
.newsList li a {
  font-size: 1.5rem;
  color: #7d7d7e;
  line-height: 1.7em;
}
.newsList li span {
  display: block;
  float: right;
  font-size: 1.3rem;
  color: #a4a4a5;
  margin-top: 0.2rem;
}
.brochureWrap {
  position: absolute;
  bottom: 0;
  margin-top: 0;
  width: 100%;
  height: 13.5rem;
  background: #cbc3b2;
}
.brochureWrap h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-left: 3.5rem;
  padding: 3.6rem 0 2.4rem 0;
  color: #fff;
  line-height: 1.1em;
  background: url(https://ediya.com/images/main/main_brochure_arrow.png)
    no-repeat bottom left;
  cursor: pointer;
}
.brochureWrap img {
  position: absolute;
  top: -2.6rem;
  right: 1.6rem;
  width: auto;
  height: auto;
}
footer {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  background: #262626;
  text-align: center;
}
footer .footertUtilWrap {
  border-bottom: 1px solid #464646;
  padding: 1.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.footertUtilWrap ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.footertUtilWrap ul li a {
  font-size: 1.3rem;
  color: #818181;
  line-height: 1.7em;
}
.footertUtilWrap select {
  width: 15rem;
  height: 3rem;
}
.footerContents {
  padding: 4rem 0;
}
.footerLogo {
  width: auto;
  height: auto;
  margin-bottom: 2.4rem;
}
.footerText {
  width: 90%;
  max-width: 65rem;
  margin: auto;
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
  color: #6c6c6c;
  line-height: 1.7em;
}
.footerText span {
  display: inline-block;
  background: url(https://ediya.com/images/common/footer_line.gif) no-repeat
    right;
  margin-right: 1rem;
  padding-right: 1rem;
}
.footerContents .copy {
  padding-bottom: 3.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #6c6c6c;
}
.ccmMark {
  position: absolute;
  top: 8rem;
  right: 15rem;
}

/*----Footer----*/
